@using GestaoPresencasMVC.DTOs

@* @model IEnumerable<GestaoPresencasMVC.Models.Aula> *@
@model IEnumerable<GestaoPresencasMVC.DTOs.AulaWithPresencaCountDTO>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aula.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aula.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aula.IdAnoNavigation.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aula.IdUcNavigation.Nome)
            </th>
            <th>
                Presencas
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aula.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aula.Sala)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Aula.IdAnoNavigation.Numero)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Aula.IdUcNavigation.Nome)
            </td>
                <td>
                    @string.Format("{0}/{1}", item.PresenteCount, item.TotalPresencaCount)
                </td>
            <td>

                    @if (ViewBag.DocenteId == item.Aula.IdUcNavigation.IdDocente)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Aula.Id">Edit  </a>
                        <a>|</a>
                    }
                <a asp-action="Details" asp-route-id="@item.Aula.Id">Details</a> 
                    @if (ViewBag.DocenteId == item.Aula.IdUcNavigation.IdDocente)
                    {
                        <a>|</a>
                        <a asp-action="Edit" asp-route-id="@item.Aula.Id">Edit  </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
